*{
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #1F2526;*/
    background-color: #121616;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: right;
}

nav ul li, a {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}

/* Main section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Headers */
h1, h2, h3, p, span /*change this later */{
    color: #f2f4f3;
}

/* Project Section */
.project-section {
    display: flex;
    justify-content: center;
}

/* Targets each project */
.project {
    background-color: #1c2222;
    margin: 20px 30px;
}

.project-images {
    height: 150px;
    width: auto;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
}

/* Modals - maybe make one css rule instead of 3 */
.modalContainerOne {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: opacity 0.3s ease;
}

.modalContainerTwo {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: opacity 0.3s ease;
}

.modalContainerThree {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: opacity 0.3s ease;
}

/* Used in the function to open and close projects */
.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #1c2222;
    width: 80%;
    border-radius: 8px;
}

/*.modal-content {
    position: fixed;
    margin: 30px 30px;
    padding: 20px 20px;
    overflow-y: scroll;
}*/

/* Project Title in Modal */
.modal-header {
    display: flex;
}

/* Modal close 'x' button */
.modal-close-btn {
    float: right;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #f2f4f3;
}

.modal-close-btn:focus, .modal-close-btn:hover {
    color: red;
}

/* The video preview shown when you open the modal */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    border-radius: 8px;
}

h2 {
    color: #f2f4f3;
    text-align: center;
}

button {
    display: block;
    cursor: pointer;
}

