body {
    /*background-color: #1F2526;*/
    background-color: #121616;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: right;
}

nav ul li, a {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}

/* Headers */
h1, h2, h3, p, span /*change this later */{
    color: #f2f4f3;
}

/* Project Section */
.project-section {
    display: flex;
    justify-content: center;
}

/* Targets each project */
.project {
    background-color: #1c2222;
    margin: 20px 30px;
}

.project-images {
    height: 150px;
    width: auto;
}

/* Modals - maybe make one css rule instead of 3 */
.modalContainerOne {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: opacity 0.3s ease;
}

.modalContainerTwo {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: opacity 0.3s ease;
}

.modalContainerThree {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: opacity 0.3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: palevioletred;
    width: 90%;
}